,*
.DS_Store
._DS_Store
1015-email.txt
2020-08-21T1110_Grades-Fall_2020_Intro_Prog_Fr_Data_Science-COSC-1015-01.csv
*.mkv
Lectures/tell.txt
email1.txt
*.1
PodCast/up-and-pub.sh
PodCast/vp.go
PodCast/vp.out
.DS_store
._*
*.mp4
*.m4a
*.m4v
*.pkf
*.mp3
*.wav
1015-car-overfiting.html
1015-clip-0001-spreadsheet.mp4
1015-clip-0001-spreadsheet.screenflow/
1015-clip-0002-1st-python.screenflow/
1015-clip-0003-visualization-tool.mp4
1015-clip-0003-visualization-tool.screenflow/
AI-is-sending-people-to-jail-and-getting-it-wrong-MIT-Technology-Review.pdf
Lecture-1.md
Project-0001.md
Python-Crash-Course.pdf
err.1
important.1
lect01.md
lect03.md
lect04.md
note.1
note.2
note.3
note.4
note.md
pc-001.why-cosci-1.md
podcast/
pose-animator/
tesla-Model-3-factory.mp4
tesla-autopilot-crash-eKgSDi2109U.mkv
tool.1
useful.1
vs-code-python.1
youtube.md
email2.txt
email1.txt
email2.txt
email3.txt
2020-08-24T1841_Grades-Fall_2020_Intro_Prog_Fr_Data_Science-COSC-1015-01.csv
2020-08-25T1330_Grades-Fall_2020_Intro_Prog_Fr_Data_Science-COSC-1015-01.csv
2020-09-11T0838_Grades-Fall_2020_Intro_Prog_Fr_Data_Science-COSC-1015-01.csv
email4.txt
